<h2>Dodaj zlecenie</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Nazwa zadania</label>
        <div class="col-sm-10">
            <input type="text" data-bind="value: Name" class="form-control" id="Name" required />
        </div>
    </div>
    <div class="form-group">
        <label for="Progress" class="col-sm-2 control-label">Stopień realizacji</label>
        <div class="col-sm-10">
            <input type="number" data-bind="value: Progress" class="form-control" id="Progress" required />
        </div>
    </div>

    <div class="form-group">
        <label for="Date" class="col-sm-2 control-label">Data rozpoczęcia</label>
        <div class="col-sm-10">
            <input type="date" data-bind="value: Date" class="form-control" id="Date">
        </div>
    </div>
    <div class="form-group">
        <label for="Description" class="col-sm-2 control-label">Opis</label>
        <div class="col-sm-10">
            <textarea rows="5" data-bind="value: Description" id="Description" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" data-bind="click: addTask">Dodaj</button>
        </div>
    </div>
</form>
