<script src="~/Scripts/app/TopMenuOptions.js"></script>

<ul class="nav navbar-nav navbar-right" id="loggedIn">
    <li><a href="https://localhost:44300/#Login">Witaj!</a></li>
    <li><a href="https://localhost:44300/#Login">Wyloguj</a></li>
</ul>

<ul class="nav navbar-nav navbar-right" id="notLoggedIn">
    <li><a href="https://localhost:44300/#Login">Zarejestruj się</a></li>
    <li><a href="https://localhost:44300/#Login">Zaloguj</a></li>
</ul>


@*@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {*@

    @*@Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><form data-bind="with: LoginViewModel"><a href="/#Login">Wyloguj</a></form></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" id="notLoggedIn">
        <li><a href="https://localhost:44300/#Login">Zarejestruj się</a></li>
        <li><a href="https://localhost:44300/#Login">Zaloguj</a></li>
    </ul>
}*@
