@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="span12">
            <div data-bind="component: 'Main-nc'"></div>
        </div>
    </div>
</div>