<div class="container">
    <div class="page-header">
        <h2>Szczegóły zadania</h2>
    </div>
    <div class="details">
        <p><label>Nazwa zadania:</label> <span data-bind="text: Name"></span></p>
        <p><label>Data rozpoczęcia:</label> <span data-bind="text: moment(Date()).format('DD.MM.YYYY')"></span></p>
        <p><label>Opis: </label> <span data-bind="text: Description"></span></p>
        <p><label>Stopień realizacji: </label> <span data-bind="text: Progress"></span>%</p>
    </div>
</div>