@{
    ViewBag.Title = "Home Page";
}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script type='text/javascript' src='http://knockoutjs.com/downloads/knockout-3.3.0.js'></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Scripts/sammy-0.7.5.js"></script>
<script src="~/RestMethods.js"></script>
<script src="~/SammyRoutes.js"></script>
<script src="~/TaskViewModel.js"></script>

<div class="container">
    <div class="row">
        <div class="span12">
            <div data-bind="template: {name: currentView()}"></div>
        </div>
    </div>
</div>

<script type="text/html" id="Zlecenia">
    <h2>All Users</h2>
    <ul data-bind="foreach: tasks">
        <li>
            <p><span data-bind="text: TaskName"></span></p>
        </li>
    </ul>
</script>
<script type="text/html" id="Dodaj">
    <h2>Dodaj zlecenie</h2>
    <form data-bind="submit: addTask" class="form-group">
            <div class="col-md-12">
                <label for="TaskName" class="col-md-12 control-label">Nazwa zlecenia</label>
                <input data-bind="value: TaskName" id="TaskName" class="form-control" required />
            </div>

            <div class="col-md-12">
                <label for="TaskName" class="col-md-12 control-label">Numer zlecenia</label>
                <input data-bind="value: Number" id="Number" class="form-control" required />
            </div>

            <div class="col-md-10">
                <label for="Type" class="col-md-12 control-label">Rodzaj/przedmiot</label>
                <input data-bind="value: Type" id="Type" class="form-control" />
            </div>

            <div class="col-md-10">
                <label for="Date" class="col-md-10 control-label">Data przyjęcia</label>
                <input type="date" data-bind="value: Date" id="Date" class="form-control">
            </div>

            <div class="col-md-10">
                <label for="IsInternal" class="col-md-10 control-label">Czy wewnętrzne?</label>
                <input type="checkbox" data-bind="value: IsInternal" id="IsInternal" class="checkbox">
            </div>

            <div class="col-md-10">
                <label for="Amount" class="col-sm-12 control-label">Ilość</label>
                <input type="number" data-bind="value: Amount" id="Amount" class="form-control">
            </div>

            <div class="col-md-10">
                <label for="Time" class="col-sm-12 control-label">Planowany czas trwania</label>
                <input type="time" data-bind="value: Time" id="Time" class="form-control">
            </div>

            <div class="col-md-10">
                <label for="StartDate" class="col-md-10 control-label">Planowana data rozpoczęcia</label>
                <input type="date" data-bind="value: StartDate" id="StartDate" class="form-control">
            </div>

            <div class="col-md-10">
                <label for="EndDate" class="col-md-10 control-label">Planowana data zakończenia</label>
                <input type="date" data-bind="value: EndDate" id="EndDate" class="form-control">
            </div>

            <div class="col-md-10">
                <label for="PlanDate" class="col-md-10 control-label">Data zaplanowania</label>
                <input type="date" data-bind="value: PlanDate" id="PlanDate" class="form-control" required />
            </div>

            <div class="col-md-10">
                <label for="Description" class="col-md-10 control-label">Opis</label>
                <textarea rows="5" typeof="text" data-bind="value: Description" id="Description" class="form-control"/>
            </div>

            <div class="col-md-10">
                <label for="Color" class="col-md-10 control-label">Kolor</label>
                <input type="color" data-bind="value: Color" id="Color" class="form-control">
            </div>

            <button type="submit" class="btn btn-default">Dodaj</button>
    </form>
</script>

@*<script type="text/html" id="Edit">
    <h2>Edit User</h2>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" id="editId" placeholder="User Id" size="5" class="form-control" />
            <input type="text" id="editName" placeholder="Username" size="5" class="form-control" />
            <input type="button" value="Edit" onclick="edit();" class="btn btn-default" />
            <p id="user" />
        </div>
    </form>
</script>*@