@{
    ViewBag.Title = "Home Page";
}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script type='text/javascript' src='http://knockoutjs.com/downloads/knockout-3.3.0.js'></script>
<script src="~/Scripts/knockout.mapping-latest.js"></script>
<script src="~/Scripts/sammy-0.7.5.js"></script>
<script src="~/RestMethods.js"></script>
<script src="~/SammyRoutes.js"></script>
<script src="~/ViewModel.js"></script>

<ul class="nav nav-tabs" data-bind="foreach:views">
    <li data-bind="css: {active: $root.currentView() == $data}">
        <a data-bind="text:$data, attr:{href:'#' + $data}"></a>
    </li>
</ul>

<div class="container">
    <div class="row">
        <div class="span12">
            <div data-bind="template: {name: currentView()}"></div>
        </div>
    </div>
</div>

<script type="text/html" id="Home">
    <h2>All Users</h2>
    <ul data-bind="foreach: tasks">
        <li>
            <p><span data-bind="text: TaskName"></span></p>
        </li>
    </ul>
</script>

<script type="text/html" id="Add">
    <h2>Dodaj zlecenie</h2>
    <form data-bind="submit: addTask" class="form-group">
        <div class="form-group">
            <label for="TaskName" class="col-md-10 control-label">Nazwa zlecenia</label>
            <div class="col-md-10">
                <input data-bind="value: TaskName" id="TaskName" class="form-control" required />
            </div>
            <label for="Type" class="col-md-10 control-label">Rodzaj/przedmiot zlecenia</label>
            <div class="col-md-10">
                <input data-bind="value: Type" id="Type" class="form-control" />
            </div>
                <input data-bind="value: Date" class="form-control">
                <button type="submit" class="btn btn-default">Dodaj</button>
            </div>
    </form>
</script>

@*<script type="text/html" id="Edit">
    <h2>Edit User</h2>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" id="editId" placeholder="User Id" size="5" class="form-control" />
            <input type="text" id="editName" placeholder="Username" size="5" class="form-control" />
            <input type="button" value="Edit" onclick="edit();" class="btn btn-default" />
            <p id="user" />
        </div>
    </form>
</script>*@