@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="~/Scripts/knockout.mapping-latest.js"></script>
<script type="text/javascript" src="~/Scripts/sammy-0.7.5.js"></script>
<script type="text/javascript" src="~/Scripts/app/AuthManager.js"></script>

<script type="text/javascript" src="~/Scripts/knockstrap.js"></script>
<script type="text/javascript" src="~/Scripts/moment.js"></script>
<script src="~/Scripts/pl-PL.js"></script>

<link rel="stylesheet" type="text/css" href="~/Content/misc.css">

<script>
    ko.validation.locale('pl-PL');
</script>

<div data-bind="component: 'login-partial'"></div>

<div class="container">
    <div class="row">
        <div class="span12">
            <div data-bind="component: 'Main-nc'"></div>
        </div>
    </div>
</div>